/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.content {
    max-width: 750px;
    margin: 0 auto;
}
header {
    background-color: #485665;
    margin: auto;
    padding: .75em;
    text-align: center;
}
img {
    width: 170px;
    height: auto;
}
footer {
    text-align: center;
    background-color: #485665;
    padding: 1px;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .9rem;
}
ul {
    font-size: 1em;
    margin-bottom: 40px;
    font-family: Roboto, Helvetica, sans-serif;
    list-style-type: none;
    padding-left: 20px;
}
li {
    margin-top: 1rem;
}
h1 {
    font-size: 2em;
    color: white;
    font-family: Blinker, Arial, sans-serif;
}
h2 {
    font-size: 1.3em;
    color: #485665;
    font-family: Blinker, Helvetica, sans-serif;
    padding-left: 10px;
}
#updated {
    color: lightgreen;
    margin: -15px;
    padding-bottom: 30px;
}
hr {
    margin-top: -10px;
}
footer a {
    color: lightblue;
}
footer a:hover {
    color: lightyellow;
}
ul a:hover {
    color: #485665;
}