/* 38.75rem = 620px @ 16px base */
@media only screen and (min-width: 38.75rem) {


/*----------- BODY --------------*/


/*----------- HEADER --------------*/
    header img {
        width: 100px;
    }
    header h1 {
        font-size: 1.7rem;
    }
    header h2 {
        font-size: 1rem; 
    }


/*----------- NAVIGATION --------------*/
    .buttonText {
        display: none;
    }
    nav ul {
        margin-left: 2%;
    }
    nav ul.hide {
        display: block;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        padding: .9rem 1rem;
    }

/*----------- MAIN --------------*/
main h1 {
    margin: 1.5% 3%;
    font-size: 2.3rem;
    text-align: left;

}
.forecast_heading {
    display: block;
    margin: 2rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
}
div#bannerMessage {
    font-size: 1.1rem;
}
.hero_parent {
    position: relative;
}
.hero_child {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid black;
}
.hero_child ul {
    line-height: 1.4rem;
}
.hero_child h2 {
    font-size: 1.3rem;
}
section.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}
section.forecast div {
    text-align: center;
    border: 1px solid #aaa;
    background-color: white;
    padding: 0;
}
section.forecast div h5 {
    background-color: #F2AF29;
    margin: 0;
    padding: .5rem;
    font-size: .9rem;
}
section.forecast div img {
    width: 100px;
    height: auto;
}
section.forecast div p {
    font-size: 1rem;
    margin: .7rem;
}
.main_article img {
    padding: 0 1rem 1rem 1rem;
    width: 50%;
    min-width: 380px;
    float: right;
}


/*----------- FOOTER --------------*/

} /* End of media query */
